@page
@model BrowseModel
@{
    ViewData["Title"] = "Browse page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Browse</p>
    <p>Lorem Ipsumasdfasdfasdfjkla;sflkjasd;lfkj</p>
</div>
